app.component.html
<div class="content">	
	<div class="card-container">
		<label>Country</label>
		<select placeholder="Country" [(ngModel)]="selectedCountry" (change)="changeCountry($event)">
			<option>--Choose Country--</option>
			<option *ngFor="let country of country">{{country.name}}</option>
		</select>
	</div>

	<div class="card-container">
		<label>State</label>
		<select placeholder="State" [(ngModel)]="selectedState" (change)="changeState($event)">
			<option>--Choose State--</option>
			<option *ngFor="let state of state">{{state.name}}</option>
		</select>
	</div>
	
	<div class="card-container">
		<label>City</label>
		<select placeholder="City" [(ngModel)]="selectedCity" (change)="changeCity($event)">
			<option>--Choose City--</option>
			<option *ngFor="let city of city">{{city.name}}</option>
		</select>
	</div>

	<div>
		<h1>You have selected {{selectedCity}} click below button to save it</h1>
	</div>
</div>

<router-outlet></router-outlet>
